# Rainfall Prediction Analysis ðŸŒ§
# --------------------------------------------------------------------------------
Hey there! I'm Tarini Pathak, currently studying B.Tech CSE at Bennett University.
Coming from Jabalpur, MP, where unpredictable monsoons often disrupt daily life, 
I have personally seen how rainfall affects agriculture, transportation, and city life.
Now, living in Greater Noida, the contrast is clearâ€”here, rains are less frequent, 
but the urban infrastructure faces massive waterlogging issues whenever it pours.

This project is my attempt to better understand rainfall patterns by analyzing 
an Australian dataset, applying data science techniques, and sharpening my 
machine learning skills. Letâ€™s get started!

# Step1: Initial Data Exploration:

### Step1: Importing the libraries

In [8]:
import pandas as pd
import numpy as np

### Step2: Loading the dataset

In [11]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

### Step 3: Initial Inspection of Data

#### Let's take a quick look at the dataset's structure.

In [29]:
print("Shape of the dataset:", df.shape) 
print('')

print("Basic informationf of the dataset: ")
print(df.info())
print('')


print("Statistical info: ")
print(df.describe())
print('')


print("All the columns: ", df.columns)
print('')

Shape of the dataset: (142193, 24)

Basic informationf of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB
None

Statistical info:
             MinTemp        MaxTemp       Rainfall   Evaporation  \
count  141556.000000  141871.000000  140787.000000  81350.000000
mean       12.186400      23.226784       2.349974      5.469824
std         6.403283       7.117618       8.465173      4.188537
min        -8.500000      -4.800000       0.000000      0.000000
25%         7.600000      17.900000       0.000000      2.600000
50%        12.000000      22.600000       0.000000      4.800000
75%        16.800000      28.200000       0.800000      7.400000
max        33.900000      48.100000     371.000000    145.000000

           Sunshine  WindGustSpeed   WindSpeed9am   WindSpeed3pm  \
count  74377.000000  132923.000000  140845.000000  139563.000000
mean       7.624853      39.984292      14.001988      18.637576
std        3.781525      13.588801       8.893337       8.803345
min        0.000000       6.000000       0.000000       0.000000
25%        4.900000      31.000000       7.000000      13.000000
50%        8.500000      39.000000      13.000000      19.000000
75%       10.600000      48.000000      19.000000      24.000000
max       14.500000     135.000000     130.000000      87.000000

         Humidity9am    Humidity3pm    Pressure9am    Pressure3pm  \
count  140419.000000  138583.000000  128179.000000  128212.000000
mean       68.843810      51.482606    1017.653758    1015.258204
std        19.051293      20.797772       7.105476       7.036677
min         0.000000       0.000000     980.500000     977.100000
25%        57.000000      37.000000    1012.900000    1010.400000
50%        70.000000      52.000000    1017.600000    1015.200000
75%        83.000000      66.000000    1022.400000    1020.000000
max       100.000000     100.000000    1041.000000    1039.600000

           Cloud9am      Cloud3pm        Temp9am        Temp3pm        RISK_MM
count  88536.000000  85099.000000  141289.000000  139467.000000  142193.000000
mean       4.437189      4.503167      16.987509      21.687235       2.360682
std        2.887016      2.720633       6.492838       6.937594       8.477969
min        0.000000      0.000000      -7.200000      -5.400000       0.000000
25%        1.000000      2.000000      12.300000      16.600000       0.000000
50%        5.000000      5.000000      16.700000      21.100000       0.000000
75%        7.000000      7.000000      21.600000      26.400000       0.800000
max        9.000000      9.000000      40.200000      46.700000     371.000000

All the columns:  Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')